[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=2
Show_Colored_Bars=true
Scale=0
str_fontsize=medium
val_fontsize=2
Font=Sans 11
Lines_Size=3
Cover_All_Panel_Rows=false
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=7
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=432
Preferred_Height=391

[Chip0]
Name=amdgpu-8
Number=0

[Chip1]
Name=fam15h_power-c4
Number=1

[Chip2]
Name=acpitz-0
Number=2

[Chip3]
Name=dell_smm-0
Number=3

[Chip3_Feature0]
Id=0
Address=0
Name=CPU
Color=#00B000
Show=true
Min=20.00
Max=60.00

[Chip3_Feature3]
Id=3
Address=3
Name=SODIMM
Color=#00B000
Show=true
Min=30.00
Max=85.00

[Chip4]
Name=k10temp-c3
Number=4

[Chip5]
Name=Hard disks
Number=5

[Chip5_Feature0]
Id=0
DeviceName=/dev/sda
Name=/dev/sda
Color=#B000B0
Show=true
Min=25.00
Max=85.00

[Chip6]
Name=ACPI
Number=6

