window#waybar {
  background: none;
  color: @theme_text_color;
  font-family: "Hurmit Nerd Font";
  font-size: 10pt;
}

window#waybar > box {
  margin: 0.5em;
  margin-bottom: 0px;
}

widget > * {
  background: alpha(@theme_base_color, 1);
  border-radius: 0.35em;
  padding: 0px 0.75em;
  margin-right: 0.5em;
}

#temperature.critical {
  color: #b7472a;
}

#mode {
  border-radius: 0.35em 0px 0px 0.35em;
  margin-right: 0px;
}

#tags {
  /*border-radius: 0px 0.35em 0.35em 0px;*/
  border-radius: 0.35em;
  padding: 0px;
}

#tags button {
  min-width: 0.5em;
  border-radius: 0px;
  border-bottom: 0.2em solid;
  color: #555;
  /*color: shade(@theme_text_color, 0.50);*/
  padding: 0px 0.75em;
}

#tags button:first-child {
  border-radius: 0.35em 0px 0px 0.35em;
}

#tags button:last-child {
  border-radius: 0px 0.35em 0.35em 0px;
}

#tags button.occupied {
  color: @theme_text_color;
}

#tags button.focused {
  color: @theme_text_color;
  background: #427819;
}

#tags button.urgent {
  color: @theme_text_color;
  background: #b7472a;
}

#tags button:hover {
}

#window {
}

#clock {
  padding: 0px 1.25em
}

#tray {
}

#tray widget > * {
  background: none;
  border-radius: 0px;
  padding: 0px;
  margin-right: 0px;
}

#custom-keyboard-layout {
  padding: 0px 0em 0px 0.15em;
}

#pulseaudio {
}

#pulseaudio.muted {
  color: lighter(#b7472a);
}

#bluetooth {
  border-radius: 0.35em 0px 0px 0.35em;
  margin-right: 0.15em;
}

#bluetooth.connected {
  color: lighter(#427819);
}

#bluetooth.disabled {
  color: lighter(#b7472a);
}

#network.wire {
  border-radius: 0px;
  padding-right: 1em;
  margin-right: 0.15em;
}

#network.wireless {
  border-radius: 0px 0.35em 0.35em 0px;
  padding-right: 1em;
}

#network.ethernet,
#network.wifi {
  color: lighter(#427819);
}

#network.disabled {
  color: lighter(#b7472a);
}

#backlight {
  border-radius: 0.35em 0px 0px 0.35em;
  margin-right: 0.15em;
}

#battery {
  border-radius: 0px;
  padding-right: 0.375em;
  margin-right: 0px;
}

#battery.charging {
  color: lighter(#427819);
}

#battery.warning:not(.charging) {
  color: lighter(#ffcf00);
}

@keyframes blink {
  to {
    background: #b7472a;
    color: #fff;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-battery {
  border-radius: 0px;
  padding-left: 0.375em;
  margin: 0px;
}

#temperature.battery {
  border-radius: 0px 0.35em 0.35em 0px;
  padding-left: 0px;
}

#custom-cpu-icon {
  border-radius: 0.35em 0px 0px 0.35em;
  margin-right: 0px;
}

#cpu {
  border-radius: 0px;
  padding-left: 0px;
  margin: 0px;
}

#temperature.cpu {
  border-radius: 0px;
  padding-left: 0px;
  margin-right: 0.15em;
}

#custom-gpu-icon {
  border-radius: 0px;
  padding-right: 1em;
  margin-right: 0px;
}

#custom-gpu {
  border-radius: 0px;
  padding-left: 0px;
  margin: 0px;
}

#temperature.gpu {
  border-radius: 0px;
  padding-left: 0px;
  margin-right: 0.15em;
}

#custom-mem-icon {
  border-radius: 0px;
  padding-right: 1.25em;
  margin-right: 0px;
}

#memory {
  border-radius: 0px;
  padding-left: 0px;
  margin: 0px;
}

#temperature.mem {
  border-radius: 0px 0.35em 0.35em 0px;
  padding-left: 0px;
}

#custom-dunst {
  padding: 0px 1.25em 0px 1em;
}

#custom-dunst.has-notifications {
  color: lighter(#b7472a);
}

#custom-dunst.is-paused {
  color: #555;
  /*color: shade(@theme_text_color, 0.50);*/
}
