Device=/dev/sda
UseLabel=0
Text=Internal eMMC
UpdatePeriod=1000
Statistics=0
XferRate=60
CombineRWdata=0
MonitorBarOrder=0
ReadColor=rgb(78,154,6)
WriteColor=rgb(32,74,135)
ReadWriteColor=rgb(78,154,6)

