name: Shell Scripts
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ci:
    name: CI
    strategy:
      matrix:
        os: 
          - ubuntu-latest
          # - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up tools
        run: |
          wget -O "/tmp/shfmt" 'https://github.com/mvdan/sh/releases/download/v3.2.1/shfmt_v3.2.1_linux_amd64'
          chmod +x "/tmp/shfmt"
          sudo mv "/tmp/shfmt" "/usr/bin/"

      - name: Get source code
        uses: actions/checkout@v2

      - name: Lint
        run: make lint

